.root {
  & tbody {
    & td {
      padding: 0;
    }

    & tr {
      display: flex;
      margin-bottom: var(--mantine-spacing-xs);

      & td {
        border-bottom: none !important;

        &:first-child {
          flex-grow: 1;
        }

        &:not(:first-child) {
          display: none;
        }
      }
    }
  }
}

.table {
  display: flex;
  flex-direction: column;
}

.header {
  margin-bottom: var(--mantine-spacing-md);
  display: flex;

  & tr {
    display: flex;
    flex-grow: 1;

    & th {
      flex-grow: 1;
      border-bottom: none;
      padding: 0;
    }

    & th[role='button'] {
      display: none;
    }
  }
}
