.card {
  background-color: var(--mantine-color-body);
}

.title {
  font-weight: bold;
  margin-top: var(--mantine-spacing-md);
  margin-bottom: rem(5px);
  display: block;
}

.cover {
  max-width: rem(200px);
}

.body {
  padding: var(--mantine-spacing-md);
  max-width: none;
}

.badge {
  cursor: pointer;
}
