.card {
  background-color: var(--mantine-color-body);
}

.title {
  font-weight: bold;
  margin-top: var(--mantine-spacing-md);
  margin-bottom: rem(5px);
  display: block;
}

.body {
  padding: var(--mantine-spacing-md);
}
