.root {
  & table {
    display: flex;
    flex-direction: column;
  }

  & tbody tr {
    display: flex;

    & td {
      border-bottom: none !important;

      &:first-child {
        flex-grow: 1;
      }

      &:not(:first-child) {
        display: none;
      }
    }
  }
}
